<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parc</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://kit.fontawesome.com/0852c9b43a.js" crossorigin="anonymous"></script>

    </head>

    <body>


        <nav class="navbar" role="navigation" aria-label="main navigation" id="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/" class="navbar-item">
                        Home
                    </a>

                    <a href=".././students/index.html" class="navbar-item">
                        Students
                    </a>

                    <a href=".././Academics/index.html" class="navbar-item">
                        Academics
                    </a>
                    <a href="./index.html" class="navbar-item">
                        Shops
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                About
                            </a>
                            <a class="navbar-item">
                                Jobs
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item" v-if="!isAuthenticated">
                        <div class="buttons">
                            <a href="./beAParcean/index.html" class="button is-primary">
                                <strong>Sign up</strong>
                            </a>
                            <a href="./loginPage/index.html" class="button is-light">
                                Log in
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item" v-else>
                        <div class="buttons">
                            <a href="./beAParcean/index.html" class="button is-white has-text-success">
                                <strong>
                                    <span class="icon">
                                        <i class="fas fa-user-circle"></i>
                                    </span>
                                    <span>{{user.name}}</span>
                                </strong>
                            </a>
                            <a href="./loginPage/index.html" class="button is-light">
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="app" class="container mt-6">

            <div class="column is-6">
                <form action="">
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-primary is-rounded has-text-grey has-text-weight-semibold"
                                type="text" placeholder="Search" v-model="search" @input="searchFilter">
                            <span class="icon is-left has-text-primary is-clickable">
                                <i class="fas fa-search"></i>
                            </span>
                            <span class="icon is-right  has-text-danger is-clickable"
                                @click="search=''; itemsToShow=items">
                                <i class="fas fa-times"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="columns">
                <div class="column is-8">
                    <div class="columns is-multiline">
                        <div class="column is-4" v-for="item in itemsToShow">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-1by1 " style="object-fit: cover;">
                                        <img v-bind:src="getImageURL(item)" :alt="item.name">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">{{item.name}}</p>
                                            <p class="subtitle is-6">₹{{item.price}}</p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>{{item.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card p-4">

                        <h1 class="is-size-5 mb-2 has-text-success has-text-centered">Add New Item</h1>
                        <form action="" v-on:submit.prevent="addNewItem">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-primary has-text-grey " type="text"
                                        placeholder="enter the name of item" v-model="newItem.name">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-primary has-text-grey" type="number"
                                        placeholder="what's it price?" v-model="newItem.price">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <textarea class="textarea is-primary has-text-grey"
                                        placeholder="tell something about it" v-model="newItem.description">
                                    </textarea>
                                </div>
                            </div>
                            <div class="file is-info has-name is-fullwidth">
                                <label class="file-label">
                                    <input class="file-input" type="file"
                                        @change="(e)=> {newItem.image = e.target.files[0]}" name="resume">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Picture
                                        </span>
                                    </span>
                                    <span class="file-name">
                                        {{newItem.image?.name}}
                                    </span>
                                </label>
                            </div>

                            <div class="my-2 has-text-grey is-size-4 has-text-centered">
                                --- OR ---
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-primary has-text-grey" type="text"
                                        placeholder="enter the link of image" v-model="newItem.imageURL.url"
                                        @input="isValidImageURL">
                                </div>
                            </div>
                            <!-- 
                            <div class="card" >
                                <div class="card-image"> -->
                            <figure class="image" v-if="newItem.imageURL.isValid">
                                <img :src="newItem.imageURL.url" alt="">
                            </figure>
                            <!-- </div>
                            </div> -->

                            <div class="is-grouped field mt-4 columns ">

                                <div class="control  column">
                                    <button class="button is-danger is-fullwidth" @click="clearAddItem"
                                        type="button">Clear</button>
                                </div>

                                <div class="control column">
                                    <button class="button is-success is-fullwidth ">Add Item</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script src="app.js"></script>
        <script src="./../navbar/app.js"></script>

    </body>

</html>